@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #282828;
        --color-secondary: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #ffffff;
        --color-secondary: black;
    }
}

.light-mode {
    --color-primary: #ffffff;
    --color-secondary: black;
}

.dark-mode {
    --color-primary: #282828;
    --color-secondary: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
}

.holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-holder {
    height: 80vh;
    width: 80vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-secondary);
}

.selection {
    height: 38vh;
    width: 5vh;
    margin-top: 2vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--color-secondary);
}

.colored {}

.colorBox {
    display: flex;
    flex: 1;
    margin: 0;
    border: 1px solid black;
}

.selectedBox {
    display: flex;
    flex: 1;
    margin: 0;
    border: 2px solid white;
}

.colorBox:hover {
    border: 2px solid aqua;
}

.colSquare {
    display: flex;
    flex: 1;
    margin: 0;
}

.rowSquare {
    flex: 1;
}

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

.input {
    justify-self: center;
    font-size: larger;
    font-weight: bold;
    color: var(--color-secondary);
}

#clear {
    margin-left: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

#modebtn {
    height: 25px;
    width: 25px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    display: inline-block;
    margin-left: 3vw;
}